body{
    background-color: #001f3f;
}


/* for the login form */
div.container{
    padding:50px;
    margin:300px;
    border:solid black;
    border-radius:10px;
    text-align:center;
    background-color: white;
    width:300px;
    height:350px;

}
input{
    border:solid black 1px;
    border-radius:5px;
    padding:5px;
    width: 100%;
}



button{
    background-color: #001f3f;
    border:none;
    width:90%;
    border-radius: 5px;
    padding:5px;
    color: white;
    cursor:pointer;


}

button.toggle-btn{
    background:none;
    border:none;
    color:#001f3f;
    cursor:pointer;

}
