body{
    background-color: #001f3f;
}


/* for the login form */
div.container{
    padding:50px;
    margin:auto;
    border:solid black;
    border-radius:10px;
    text-align:center;
    background-color: white;
    width:300px;
    height:350px;
    overflow: auto;

}
input{
    border:solid #001f3f 1px;
    border-radius:5px;
    padding:5px;
    width: 100%;
}



button{
    background-color: #001f3f;
    border:none;
    width:100%;
    border-radius: 5px;
    padding:5px;
    color: white;
    cursor:pointer;


}

button.toggle-btn{
    background:none;
    border:none;
    color:#001f3f;
    cursor:pointer;

}
label{
    text-align: left;
    color:#001f3f;
}
/* CSS for home-page begins here */
body#home-page{

    background-color: grey;
}

#send-money-btn,#buy-airtime-btn,#buy-goods-btn{
    border:groove grey 1px;
    border-radius: 3px;
    display: grid;
}
#home-greeting-msg{
    text-align: center;
}
.show-bal{
    border:solid #001f3f 1px;
    padding:5px;
    border-radius: 5px;
    background-color: white;

}
#account{
    padding:5px;
    border:solid #001f3f 1px;
    border-radius:10px;
    background-color: #001f3f;
    color:white;
    width:300px;
    height:200px;
    overflow: auto;
}
/* nav styles */
.sidebar {
    width: 200px;
    height: 100vh;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}
.profile{
    background-color: grey;

}
.initials{
    border-radius:50%;
}

